.projectCard {
    cursor: pointer;
}

.navBtn {
    cursor: pointer;
}

.navBtn__mobile {
    display: none;
}

.php {
    text-align: center;
    display: flex;
    justify-content: center;
}

.html {
    text-align: center;
    display: flex;
    justify-content: center;
}

.node {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1000px) {
    .navBtn__desktop {
        display: none;
    }

    .navBtn__mobile {
        display: block;
    }
}